.UserProfile{
   /*border: 3px solid hsl(102, 66%, 44%);*/
  width: 38rem;

}

.user-info-section {
   background-color: #c7e4d0;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /*border: 1px solid hsl(102, 66%, 44%);*/


}

.user-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.user-buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.user-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}