.My-Information {
width: 100%;


}

.Information-Body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
  margin: 50px auto;
  /*border: 4px solid #d81717;*/

}

.Information-input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Information-input {
  flex: 1;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 20px 8px;
  font-size: 18px;
  outline: none;
  width: 30rem;
}

.Information-input::placeholder {
  color: #aaa;
}

.Information-button, .Information-button {
  margin-left: 8px;
  padding: 5px 10px;
  font-size: 10px;
  color: white;
  width: 4rem;
  border: 1px solid #ccc;
  background-color: #28a951;
  border-radius: 14px;
  cursor: pointer;
}

.Information-button:hover, .search-button:hover {
  background-color: #0a3d21;
}

.Information-submit-button {
  margin-top: 20px;
  padding: 12px;
  font-size: 15px;
  width: 20rem;
  height: 3rem;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}

.Information-submit-button:hover {
  background-color: #26bb64;
}

/*.password-box{
  height: 15rem;
  border: 3px solid #ccc;
  margin-top: 2rem;
  padding: 2rem;

}*/