.separator {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb; /* gray-200 */
  margin-bottom: 1rem; /* 기본 margin-bottom, 필요시 오버라이드 */
}

.separator-vertical {
  width: 1px;
  height: 100%;
  background-color: #e5e7eb;
}
