.introduse-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #d8f2a9;    
}

.introduse-full {
  width: 100%;
  height: 100%;
  object-fit: cover;       /* 비율 유지하며 꽉 채우기 */
  object-position: center; /* 중앙 기준 */
  padding: 5rem;
}