.Body-back{
    
    width: 100%;


}

.Body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    width: 100%;
  
   
}
.slogan h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
 
 

}

.pass-button {
  width: 25rem;
  height: 4rem;
  background-color: #2ecc71;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 2rem;
}

.contents-section {
  display: flex;
  justify-content: center;
  height: 8rem;
  flex-wrap: wrap;
  gap: 2.2rem;
}

.content-card {
  width: 25rem;
  height: 14rem;
 
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
border: none;      

}