.LoginForm{
  height: 20rem;
  width: 100%;
  /*border: 3px solid hsl(102, 10%, 25%);*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
}
.login-box {
  width: 28rem;  
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  
}

.login-input {
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #ccc;
}

.login-input:focus {
  outline: none;
  box-shadow: none;
}



.find-info {
  font-size: 1rem;
  color: #666;
  text-align:left;
  margin-left:2%;
  margin-top: 8px;
  display: flex;
}

.singup{
  font-size: 1rem;
  color: #666;
  margin-left: 48%;

}

.find-info .find-link {
  color: #555;
  text-decoration: none;
}

.find-info .find-link:hover {
  text-decoration: underline;
}

.login-btn {
  margin-top: 1rem;
  padding: 15px;
  background-color: #4f4e4e;
  color: white;
  border: none;
  width: 30rem;
  font-size: 1rem;
  cursor: pointer;
}