.LoginHeader{
    display: flex;
    justify-content:flex-end;
    height: 4rem;
    width: 100%;
    border: 3px solid hsl(0, 100%, 55%);



}

.Home-button {
  padding: 5px 20px;
  margin: 15px;
  border: 1px solid #888;
  background: white;
  border-radius: 4px;
  cursor: pointer;
  height: 2rem;
  width: 7em;

}